@model IEnumerable<RentACarWebSite.Models.Cars>

@{
    ViewData["Title"] = "CarsListNotSignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CarsListNotSignIn</h1>

<div class="row">

    <div class="col-2 card" style="width: 150px; height:400px; display: inline-block;">

        
        
        @foreach (var item in Model)
        {
        <div>
            <a asp-action="CarsListNotSignIn" asp-route-id="@item.CarMarka">@item.CarMarka</a> |
        </div>
        }



    </div>
    <div class="col-10" style="display:inline-block">
        <h1>@ViewBag.SelectMarka</h1>//controllera seçilen markayı yollayıp sadece o marka olanları card olarak bas
        ındex actionunu temizle

        @foreach (var item in Model)
        {

            <div class="card" style=" width: 25%; display: inline-block; box-shadow: 2px 2px 20px grey; margin: 2%; border-radius: 10px;height:auto">
                <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.CarFoto)>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.CarMarka) @Html.DisplayFor(modelItem => item.CarModel)</h5>
                    <p class="card-text">
                        Car Year: @Html.DisplayFor(modelItem => item.CarYear)<br />
                        Car Color: @Html.DisplayFor(modelItem => item.CarColor)
                    </p>

                </div>
            </div>
        }
    </div>
</div>


