@model IEnumerable<RentACarWebSite.Models.Members>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberLastName)
                </td>

                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.MemberID">Edit</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.MemberID">Details</a> |
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.MemberID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
