@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<RentACarWebSite.Models.Rent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["RentDate"]
            </th>
            <th>
                @localizer["Admin"]
            </th>
            <th>
                @localizer["Car"]
            </th>

            <th>
                @localizer["Member"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Member.MemberMail.Equals(User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admin.AdminMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.MemberMail)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
