@model IEnumerable<RentACarWebSite.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminMail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminPass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminMail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AdminID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AdminID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AdminID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
